*.bk
__pycache__
.DS_Store
eval_mm/vlmevalkit/torchvision-0.17.0+cu118-cp310-cp310-linux_x86_64.whl
eval_mm/vlmevalkit/flash_attn-2.6.3+cu118torch2.2cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
eval_mm/vlmevalkit/torch-2.2.0+cu118-cp310-cp310-linux_x86_64.whl
eval_mm/vlmevalkit/vlmeval.egg-info/*
eval_mm/vlmevalkit/outputs/MiniCPM-V-2_6/*
eval_mm/vlmevalkit/.env